*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: #f5f5dc;
    --second-bg-color: #b3e5fc;
    --text-color: #222222;
    --main-color: #a52a2a;
}
body{
    background-color: #f5f5dc;
    min-height: 100vh;
}
nav{
    background-color: var(--second-bg-color);
    box-shadow: 3px 3px 5px #a52a2a;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 100px;
}
nav a{
    height: 100%;
    padding: 5px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #222222;
}
nav a:hover{
    background-color: #40c7d1;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block; 
    }
    nav{
        font-size: 1.5rem;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

/* 2 heseg */
 .heading{
    padding-top: 20px;

 }

.services{
    background: var(--bg-color);
    color: #050505;
}
.services h2{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--text-color);
}
.services-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
    padding: 20px;
}
.service-box{
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.service-box:hover{
    background: #EAE7DC;
    color: #050505;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem;
}
.service-info h2{
    text-align: center;
}
.service-info h4{
    font-size: 2rem;
    font-weight: 800;
    line-height: 2;
}
.service-info p{
    font-size: 1rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
}

.location{
  padding-left: 350px;

}

@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .services{
        padding-bottom: 7rem;
    }
}
@media(max-width:895px){
    
    .services h2{
        margin-bottom: 2rem;
        text-align: center;
    }
    .services-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .service-box{
        overflow: hidden;
    }
    .location{
        width: 40%;
        padding: 0px;
    }

}
footer{
    background-color: var(--second-bg-color);
}
.footer-2{
    padding: 20px;
    text-align: center;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px); /* Доороос дээш хөдлөх эффект */
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
